@model Blog
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("CategoryMenu")
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <div class="card-header">
                    @Model.BlogTitle
                </div>
                <img class="card-img-top" src="~/img/@Model.BlogImage" alt="@Model.BlogTitle">

                <div class="card-block">
                    <h4 class="card-title">@Model.BlogTitle</h4>
                    <p class="card-text">@Model.BlogDescription</p>
                    <p class="card-text">@Html.Raw(Model.BlogBody)</p>
                </div>
            </div>
        </div>
    </div>
</div>

